@font-face {
    font-family: 'RecipekoreaM';
    font-style: normal;
    font-weight: medium;
    src: url("./assets/fonts/RecipekoreaM.ttf")
  }

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: thin;
  src: url("./assets/fonts/SCDream1.otf")
}

@font-face {
  font-family: 'SCDream';
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/SCDream7.otf")
}



@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/AppleSDGothicNeoT.ttf")
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: light;
  src: url("./assets/fonts/AppleSDGothicNeoL.ttf")
}


@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/AppleSDGothicNeoR.ttf")
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/AppleSDGothicNeoM.ttf")
}


@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 550;
  src: url("./assets/fonts/AppleSDGothicNeoSB.ttf")
}



@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/AppleSDGothicNeoB.ttf")
}

@font-face {
  font-family: 'AppleSDGothicNeo';
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/AppleSDGothicNeoEB.ttf")
}



html {
    width: 100vw;
    height: 100%;
    /* max-width: 625px; */
    margin: 0px;
    padding: 0px;
}


body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 스크롤바 삭제 */
::-webkit-scrollbar {
  display: none;
}